<head>
  <title>Book Site</title>
  <link rel="stylesheet" href="./app.component.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="homepage">
    <app-navbar></app-navbar>
    <h1>Booksite</h1>
    <app-search-book-list></app-search-book-list>
</div>

 <div>
  <app-show-book-list >[books]="books" (select)="onSelect($event)"
    (create)="onCreate()" (edit)="onEdit()" (delete)="onDelete($event)"
  </app-show-book-list> 

  <app-createbook></app-createbook>

  <app-update-book-info></app-update-book-info>

  <app-show-book-details></app-show-book-details>

 </div>