
        h1{
            color: red;
        }
        #cse102{
            color: gray;
        }  
        .Even{
            color: blueviolet;
        }
        .Odd{
            color: green;
        }
